header{
  display:flex;
  justify-content: space-between;
  padding:10px 40px;
  background-color: #1abc9c;
  margin-bottom: 40px;
}

header p{
  color: #fff;
  align-self: flex-end;
  font-size: 18px;
}


