body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.card-header{
  min-height: 65px;
}
.bg-secondary {
  color:#fff;
  padding: 1.8rem !important;
  background-color: #6c757d!important;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #6c757d!important;
}